{% extends 'admin/layout.twig' %}
{% block title %} Админка | Панель управления {% endblock %}
{% block content %}
<div class="col-sm-8 col-md-8">
    <p><a class="btn btn-success" href="{{ path('adminPage.mainEdit') }}">Общие настройки</a></p>
</div>
{% endblock %}   