{% block cssinit %}
    <link rel="stylesheet" href="/css/jquery.fileupload.css">
{% endblock %}
{% block filefield %}
    <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Добавить файлы</span>
                <input id="fileupload" type="file" name="files[]" multiple>
                </span>
    <br>
    <br>
    <div id="progress" class="progress">
        <div class="progress-bar progress-bar-success"></div>
    </div>
    <div id="files" class="files">
        {% for file in images %}
            {% set th = getThumb(file) %}
            {% include 'admin/file/element.twig' %}
        {% endfor %}
    </div>
    <div id="file-tpl" style="display: none;">
        {% include 'admin/file/element.twig' %}
    </div>
{% endblock %}

{% block jsinit %}
    <script type="text/javascript" src="/js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/js/jquery.iframe-transport.js"></script>
    <script type="text/javascript" src="/js/jquery.fileupload.js"></script>

    <script>

        $(function () {

            var saveUrl = '{{ path('upload.Save') }}';

            $('#files')
                    .on('click', '.photo-remove', function(){
                        $(this).parent().parent().remove();
                    })
                    .on('click', '.photo-save', function(){
                        var pid = $(this).data('id');
                        var desc = $('#desc-' + pid).val();
                        var title = $('#title-' + pid).val();

                        $.ajax(saveUrl,{
                            data: {'title': title, 'desc': desc , 'id': pid},
                            type: "POST"
                        }).done(function(){

                                });


                    });


            'use strict';
            var url = '{{ path('upload.Do') }}';
            $('#fileupload').fileupload({
                url: url,
                dataType: 'json',
                done: function (e, data) {
                    $.each(data.result.files, function (index, file) {
                        var tpl = $('#file-tpl').html();

                        tpl = tpl.replace(/__id__/g, file.id).replace(/__th__/g, file.url);

                        $(tpl).appendTo('#files');

                    });
                },
                progressall: function (e, data) {
                    var progress = parseInt(data.loaded / data.total * 100, 10);
                    $('#progress .progress-bar').css(
                            'width',
                            progress + '%'
                    );
                }
            }).prop('disabled', !$.support.fileInput)
                    .parent().addClass($.support.fileInput ? undefined : 'disabled');
        });
    </script>
{% endblock %}