{% extends 'layout.twig' %}

{% block title %}Авторизация{% endblock %}
{% block css %}
  {{parent()}}
  <link rel="stylesheet" href="/css/login.css">
{% endblock %}
{% block body %}
<form class="form-signin" method="post" action="{{ path('login_check') }}">
          {% if error %}
            <div class="alert alert-danger">Неверные данные!</div>
          {% endif %}   
          <h2 class="form-signin-heading">Введите данные</h2>
          <input type="text" name="_username" class="form-control" placeholder="Логин" value="{{ last_username }}">
          <input type="password" name="_password" class="form-control" placeholder="Пароль">
          <label class="checkbox">
            <input type="checkbox" name="_remember_me">Запомнить меня</label>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
        </form>
{% endblock %}