body {
	background-color: #eee;
}
.form-group.b-snippets {
    float: left;
    margin-right: 20px;
}
.custom-text{
    text-align: left;
}
.diff{
    font-weight: bold;
    color: red  ;
}
.table-snip {
    margin-top: -9px;
}