<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Название</label>
            <div class="controls">
                <input name="snippet_value[name][]" type="text" class="form-control" value="{{ val.name }}">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Системное название</label>
            <div class="controls">
                <input name="snippet_value[sysval][]" type="text" class="form-control" value="{{ val.sysval }}">
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <a class="btn btn-default add-value" style="margin-top:25px;{% if not empty and not last %}display: none;{% endif %}">Добавить</a>
        <a class="btn btn-warning remove-value" style="margin-top:25px;{% if empty  %}display: none;{% endif %}">Удалить</a>
    </div>
    <input type="hidden" value="{{ val.id }}" name="snippet_value[_id][]"/>
</div>